iv_app/static/dynamic/images/*/**/*.png
.DS_Store
.idea/
*.pyc
iv_app/session_repl.json
iv_app/starters.json
iv_app/tools/lambdaCalculus/userCode.lambda
iv_app/tools/lambdaCalculus/userCode_parsed_tree.txt
iv_app/tools/NeuralNetworks/F_MNIST-NN/fashion-mnist_train.csv
iv_app/tools/NeuralNetworks/MNIST_NN/mnist_train.csv
iv_app/tools/NeuralNetworks/F_MNIST-NN/fashion-mnist_test.csv
iv_app/tools/NeuralNetworks/MNIST_NN/mnist_test.csv
iv_app/tools/waves/fromwav


