




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Black-Scholes Formula</title>
    <style>
        .diagram-caption {
            max-width: 75%;
            text-align: center;
            align-items: center; /* Align vertically */
  margin-left: 150px; /* Adjust the value as needed */

        }


    .delta-b {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.image-container {
    text-align: center; /* Center-align the image */
    margin: 0 10px; /* Adjust the margin to provide spacing between the images */
}

.image-container img {
    max-height: 327px;
}


        body {
            font-family: "Times New Roman", Times, serif;
            margin: 0;
            padding: 20px;
            background-color: #f5f5f5;
        }

        h1 {
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .formula-container {
            width: 80%;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .formula-description {
            margin-bottom: 20px;
        }


    /*    }*/
.formula-diagram,
.formula-diagram1 {
    background-color: #222222;
    padding: 10px; /* Adjust padding to make it smaller */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    max-height: 70px; /* Adjust max-height to make it smaller vertically */
}

.formula-diagram img,
.formula-diagram1 img {
    height: 50px;
    max-width: 70%;

}
        .logout-btn {
            font-size: 16px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #325d80;
            color: #fff;
            cursor: pointer;
        }
    </style>


    </style>
</head>
<body>
    <h1>Understanding the Black-Scholes Formula</h1>

    <div class="formula-container">
        <div class="formula-description">
            <p>The Black-Scholes formula is a mathematical model for the pricing of financial derivatives such as options contracts. It helps determine the theoretical price of a European call or put option.</p>
            <p>The formula takes into account several components:</p>
            <ul>
                <li><strong>Stock Price (S)</strong>: The current market price of the underlying stock.</li>
                <li><strong>Strike Price (K)</strong>: The price at which the option holder has the right to buy (for a call option) or sell (for a put option) the underlying stock.</li>
                <li><strong>Time to Expiry (T)</strong>: The time remaining until the option expires, typically measured in years.</li>
                <li><strong>Interest Rate (r)</strong>: The risk-free interest rate, typically the current prevailing interest rate.</li>
                <li><strong>Volatility (σ)</strong>: The standard deviation of the stock's returns, a measure of the stock's price variability.</li>
            </ul>
        </div>

        <div class="formula-diagram1">
            <img src="{{ url_for('static', filename='images/bsm_c.png') }}" alt="BSM Image">
        </div>

        <div class="formula-diagram">
        <img src="{{ url_for('static', filename='images/bsm_d1.png') }}" alt="BSM Image">
            <img src="{{ url_for('static', filename='images/bsm_d2.png') }}" alt="BSM Image">
        </div>

        <p>The Black-Scholes formula calculates the fair value of the option based on these inputs. It provides insights
            into the relationship between the option's price and various factors such as time to expiry, volatility, and interest rates.
            While the derivations of d1 and d2 are bulky and require deeper explanation, the intuition behind the main
            function that uses them can be nicely understood even with just an understanding of what d1 and d2 are functionally.
            </p><p>Also, 'N(x)' is a function that denotes the cumulative standard normal distribution of x. 'What is
        the probability of our random variable, x, being above 0'?

            </p>
        <h3>What is d1? </h3>
        <p>d1 is essentially the amount of <i>standard deviations</i> the stock price S is from the strike K,
            standardized and calculated in terms of our input parameters (time, volatility, risk-free rate).
            Since N is the cumulative STANDARD NORMAL distribution curve, it takes in an x that represents an amount of
            standard deviations and tells you how likely that point is to 'land' above 0. Thus, N(d1) is <i>something like</i> the
            probability of 'reaching d1' in terms of standard deviations. <i>Something like</i> the probability that S is above K by expiry...
            In the Black-Scholes formula, N(d1) is used as the DELTA of an option...<br><br>

            Delta is most purely defined as the first derivative of the option with respect to the price of the underlying
            stock. When the stock, S, rises by $1, K's call option rises by $N(d1).
<br><br>
            However, it is apparent that DELTA also acts as a proxy for probability of S expiring above K...What is d2?
            Simply put, it's d1 but 'discounted' by the stock's volatility over its life. In the Black-Scholes
            world, all stocks should have the same <i>expected</i> mean returns (the risk-free rate) regardless of volatility.
            Also, holding DELTA * S at all times means that your net DELTA is 0 (you have 0 exposure to movements in the stock
            because you own shares to offset the delta of the short option), thus you face no risk, and must demand the risk-free
            rate as your return. But where will we get the money to do always hold DELTA * S?
                </p>
<div class="delta-b">
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/delta_curve.png') }}" alt="Delta/d1 Image" class='delta_image'>
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/b_curve.png') }}" alt="B/d2 Image" class='b_image'>
    </div>
</div>
        <p class="diagram-caption">
            In this case, d1 is .75, d2 is .65....the red line representing these values is clearly above the mean of 0,
            and since we know these terms are somehow dependent on S/K, this means S in above K in this current example.
            What if S was below K?
        </p>
<div class="delta-b">
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/delta_curve_2.png') }}" alt="Delta/d1 Image" class='delta_image'>
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/b_curve_2.png') }}" alt="B/d2 Image" class='b_image'>
    </div>
</div>
        <p class="diagram-caption">
            In this case, d1 is -0.75, d2 is -0.85....we can see now that the S/K term is less than 1, which leads
            to a negative d1 and d2. By using these standardized values d1 and d2, then taking their cumulative
            standard normal distribution, we can easily glean an actionable value for "probability of d_ expiring >
            0 = probability of S expiring > K"
        </p>


        <h3> But are they the same?</h3>
        <p>
            If N(d1) = DELTA and N(d2) = B are both <i>something like</i> the probability of S expiring > K, but B does not
            take volatility into account, then it makes sense that the magnitude of DELTA should be slightly larger.
            More volatility = more randomness and movement = more chance for S to surpass K.
        </p>
        <h3>That said, how can we use these insightful probability calculations to find the price of C?</h3>

        <p> Using the theory of arbitrage, two assets should have the exact same price if they have all the same
            cashflows/costs throughout their life and at expiration (if any). We know that Call options give the owner
            the right to buy 100 shares of S at K if S > K @ exp, so we know that C should rise when S rises, fall when it falls,
            but within the allowance of the time remaining, volatility, and the interest rate.
            Since the Black-Scholes formula is designed for a European Option (which can only be executed after expiration),
            we don't have to worry too much about the cashflows/intrinsic value during the life of the option, we just have to prepare for expiration.
            (Of course to properly 'prepare for expiration', you'll have to adjust throughout the option's life....so how do we
            mock the 0 cost-to-hold of option contracts?)

            Let us think about a portfolio that buys a call C with strike K and sell a put P with the same strike K.
            At expiration, if
            S > K, our call entitles us to buy S at K, then profit the difference... if S < K, C is worthless, but our -P position
            forces us to buy 100 shares at K, and we will lose the difference.

            To mimic this portfolio, suppose we buy 100 shares of S, then sell a 0 RISK (interest rate is r, the risk-free rate),
            0 COUPON bond that matures to K.
            At expiration, if S > K, we profit on our shares but must pay back the bond at K, so
            our profit is S - K, just as before.
            If S < K, again we return the cash worth K, and sell our shares at S, which in this case is lower than K, so
            our profit is K - S, just as before.
            Thus, this portfolio at expiration mimics the exact cashflow conditions of the option portfolio.
            If we go long one side of this parity (buy C and sell K, or buy S and sell bond at K), and sell the other,
            what will happen?
            That is, if we go out there at buy C, sell P, buy S, sell the bond that matures to K, then what sort of returns should we
            expect?...Since this is a risk-free portfolio (buying one asset and selling the theoretically equivalent asset), we should earn
            the risk-free rate of interest. This is a key element of the Black-Scholes formula called Put-Call parity.
            This relationship between the Call, Put, Stock, and interest rate r (which informs the bond's price) allows one to calculate
            the fourth given any of these three terms. And it should make sense that a Call and a Put at the same strike
            should always have related values (if inverse).
            </p>
        <div class="delta-b">
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/arbitrage_payoffs.png') }}" alt="payoffs Image" class='b_image'>
    </div>
</div>
        <p>
            Now that we have an example of arbitrage under our belt, we return to the question of hedging just C.
            Suppose we wanted to sell C, then create and manage a portfolio that will mimic the exact payoff conditions
            of C at expiration, and importantly, in such a way that does not incur additional cost throughout the life of the option.
            For them to truly be equal under arbitrage law, the cashflows during and at the end of the life of these portfolios need to be equal.
            We need a hedging strategy that satisfies the expiry conditions, and fully funds itself throughout the life of the option.
            <br><br>
            Broad strokes, it makes sense that if S is knowably/quantifiably likely to expire above K, then we need to steer
            our portfolio in the direction of mimicking S - K at expiration (C's payoff if S > K). Vise versa, if S seems
            unlikely to exceed K, then at expiration, we are not on the hook for anything as the owner of C has no right
            to buy anything from us. Importantly, if we think S will expire > K, we need 100 shares of S and a 100 short bond
            that matures to K that we pay back. Otherwise, nothing.
            If we had a crystal ball, we'd know where S is going to expire, and be able to perfectly match the payoff conditions
            by buying S and selling a bond to K, or not. However, we do not know what the future holds, so we rely on the
            EXPECTED VALUE of the stock piece and bond pieces of the portfolio.
            <br><br>
            If we had a translucent crystal ball
            that gave hints to the future and could tell us DELTA (the proxy for probability of S expiring > K),
            then at any moment, we'd want to hold DELTA shares of S and sell a similar 'weighting' of a bond maturing to K.
            <br><br>
            If we could get a certain probability (which is an overt oxymoron) for S expiring > K, and we could only sell C,
            set up the portfolio and wait until expiry,
            over time, we'd do ok at preparing for the expiration conditions. Some cases, we'd spend too much,
            other cases we'd make extra money.
            Better than buying 100 shares and selling a full bond to K, or doing nothing. But, this is not reliable for accurately pricing C.
            <br><br>
            However, if we could <i>always</i> be correcting the amounts of S and -K we have corresponding to crystal-ball DELTA,
            then as we approach expiration, DELTA would approach and expire to either 1 or 0. Well, what if we calculate DELTA with d1
            every possible second and trade accordingly? How would we do? We'd definitely be fine at expiration, but would we
            incur costs along the way?
        </p>
            <h3>How would we hedge a Call to replicate its payoff at expiration, with no cost along the way?</h3>
        <p>
            Let's assume delta/D (which is a proxy for probability of expiring in the money, as in probability that we'll
            need to hedge at all) is .3 or 30. Firstly, this means that when S goes up $1, C goes up $0.30 (this is DELTA's definition).
            So, after selling C and wanting to hedge with shares, if we have D*S, then as S goes up $1, and we lose $0.30 from
            the short C, we match those losses with our gains from our 30 shares of S. This is an important starting
            point, but it is important to note how far we are from our answer yet.
            What happens to D now that S has risen by 1? Well with a higher S, the probability that S reaches and
            surpasses K grows, thus D grows, and we need more shares in order to hedge -C and prepare for a more likely S > K at exp. Are we just going to pay
            out of pocket for more shares?
            You can quickly see how S falling would play out similarly and opposite to the first case, and how the
            same dilemma will arise if S falls by $1 and D falls as well.
            How can we finance this buying and selling of shares such that we never incur additional costs?

    </p>
        <h3>Enter d2, and N(d2) = B.</h3>
        <p>
            The second half of the Black-Scholes equation provides this repeatable, self-financing by instructing the
            portfolio on how much of a ZERO COUPON, RISK FREE (meaning the interest rate is the theoretical risk-free
            rate, r) that expires at expiration, T, and matures to K, to sell.
            <br><br>
            Why are we doing this? Let's return to the idea of preparing for expiration.
            <br><br>
            This moment is like the crystal-ball D increasing, thus telling us it's more likely for S to expire > K,
            telling us we need more S and more short bond K (because we need 100*S - K at exp).
            <br><br>

            Think about this: if we could set up an algorithm to manage this portfolio whenever S * (D2-D1) >= 0.01
            and -K * (B2-B1) >= 0.01 (ie, whenever DELTA and B change AT ALL), then the costs would
            absolutely always balance. Stock goes up a little, we need to buy more shares, but we get to sell more bond.
            Stock goes down, we sell off more stock, but need to buy back bond. In a perfect world, we can trade continuously
            like this and there are 0 net maintenance costs.

            The Black-Scholes option price is the sum of the setup and maintenance cost of this portfolio.
            Huh???
        </p>
        <h3>Total cost = setup cost = Black-Scholes price?</h3>
        <p>The key to the Black-Scholes theory (it is theoretical, and not possible to replicate, as you will soon see)
            is the ability to continuously buy and sell stock and bonds with no fees or tax.
             Theoretically, if we set this portfolio up to always have balanced returns from D*S and -B*K and can continuously
            update it, then by definition, each re-balance will cost 0 net.
        The cost of stock is financed by short bonds. We buy more stock, we get to sell more bond. We sell off some stock,
            we spend money to buy back bond.
            That's our whole goal, and assuming we can do it allows the beauty to shine through. If we have this ideal
            portfolio and the access to perfect and continuous hedging, then the only cost we'd ever incur is the cost to
            actually set up the hedge. The more frequent the hedging, the more accurate the D's and B's,
            and the more likely each cost is to perfectly cancel the other out.

            </p>
        <h3>Example: 50 days, S = 100, K = 100, Volatility = .20 (20%), r = .05 (5%)</h3>
<div class="delta-b">
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/bsm_example/bsm_sim.png') }}" alt="Sim Stock Price" class='delta_image'>
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/bsm_example/bsm_sim_delta.png') }}" alt="Sim Option Price" class='b_image'>
    </div>
</div>

<div class="delta-b">
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/bsm_example/bsm_sim_bs_price.png') }}" alt="Sim Costs" class='delta_image'>
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/bsm_example/bsm_costs_w.png') }}" alt="Sim Delta" class='b_image'>
    </div>
</div>
        <p>
            Notice how the costs throughout the life of this option, if we delta-hedge once per week, are large
            and sporadic, certainly not 'net-zero' as the formula aims for them to be. This can be explained mathematically,
            however it intuitively makes sense as well. Previously we discussed setting up a hedge just once, then holding
            until expiration; it's clear that even though delta's formula is precise, and even if real stocks moved with
            constant volatility and brownian motion as the formula treats them, we would still not be successful. If delta
            was 30 at the beginning of our trade, however accurate that calculation may be, we still cannot expect
            successful. Either S will expire above or below K, and our 30 shares and around 30% of K sold short as a bond
            would lose money. If you delta-hedge more often, however, each delta you calculate and balance with only
            aims to predict and cover your exposure until the next delta-hedge. As you can see below, when we hedge the exact
            same random stock instance every day, each individual net cost is well under $0.10. Delta is the instantaneous
            rate of change of C with respect to changes in S, so A) as time rolls on (even if S doesn't move), delta will change,
            and B) if S starts getting away from S at the last delta-hedge delta will of course change as well. It is the
            goal of the hedging portfolio to always hold 0 directional risk at the current moment. The more frequently you
            can rebalance, the smaller any jolt in any direction, the closer changes in Delta and B will be, and thus the lower
            our net hedging costs will be!

        </p>

        <div class="delta-b">
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/bsm_example/bsm_costs_d.png') }}" alt="day costs" class='b_image'>
    </div>
</div>


        <h3>Delta Hedging is all about balance</h3>
        <p>Imagine standing on a scale or a seesaw, one foot on each side: the more frequent you adjust the force you are exerting,
            the more consistently stable your balance is, and the smaller each individual readjustment is.
            If you were only allowed to move your feet every 1 second, you'd have large swings from side to side, never
            quite straddling the middle elegantly...however if you continuously apply and shift pressure across your
            feet, balancing becomes much easy and our overall volatility of balance is lower. More, smaller adjustments
            lead to smoother balance and less 'jolting' side to side. Those jolts, those readjustments are identical
            to the hedge trades we incur over the life of the option.
        </p>
        <h3>Arbitrage theory to bring it all home</h3>
        <p> Wait a second, why is the sum of the costs to set up and maintain a hedging portfolio the price of the option, C?
            Using the theory of arbitrage, if two assets/portfolios have the same costs throughout their entire life
            and the same payoffs at expiration, then they're identical and should be priced equally. Our idea portfolio
            has been shown to perfectly mimic the payoffs at expiration, and assuming we can continuously trade,
            our portfolio's lifetime cashflows will equal those of C, which are 0 due to its European nature.
            <br><br>
            Practically, if there is demand for Call options and one wants to meet that demand and sell Calls,
            calculating the cost to hedge a short Call with 0 risk would inform the seller on how much to charge at the
            date of sale of C. Casinos calculate the probabilities and risk profiles involved with offering a given bet
            such that they can, <i>with no risk</i>, price that bet at <i>their</i> price. If one wants access to the power
            of a Call option, someone has to sell it and assume the risks, so we must play at their price.
<br><br>
            ....Even juicier: if the price of C was ever priced greater
            than the cost to set up the self-financing hedging portfolio (that we can perfectly and continuously hedge
            after setup for FREE), that is if C was ever > the Black-Scholes price of C, then one could sell C then go
            set up the portfolio for cheaper, then hedge their position
        for free until expiration, they would be locking in a risk-free profit.
            Also for the financially savvy, it may be clear now that selling C and buying that portfolio for a net cost
            of 0 must demand the risk-free rate, r, as its return, just as with Put-Call parity.
        </p>

    </div>
    <p>See the Black-Scholes Hedging Strategy in Action!</p>
     <form action="/bsm/sim/.2/100/100/.05/50/weekly" method="GET">
        <input type="submit" class="logout-btn" value="Simulate Black-Scholes">
    </form>

    <form action="/client" method="GET">
        <input type="submit" class="logout-btn" value="Home">
    </form>



</body>
</html>